* {
  font-family: Arial, sans-serif;
}

.modal-wide {
  width: 90%;
}

.bg-review-light {
  background-color: aliceblue !important;
}

.bg-review-dark {
  background-color: darkgrey !important;
}

.bg-review-light:hover {
  transform: scale(1.03);
}

.bg-review-dark:hover {
  transform: scale(1.03);
}
